 body{
    margin: 0;

}
/*=============================================================


.conteiner{
     /*de esta manera se ubica las cajas al lado de otra con el flex*/
       display: flex;
      /*justify-content: center;*/
       /* como se distribuye las cajas internas*/
       justify-content: space-evenly ;

}
/*

.conteiner >div{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: 5px;

}
/*
.caja1{background-color: rgb(25, 25, 200);}
.caja2{background-color: rgb(19, 25, 207);}
.caja03{background-color: rgb(19, 25, 207);}
.caja04{background-color: rgba(21, 0, 255, 0.925);}
*/
/*---------------------------------------------------------------*/

.contenedor{
display:flex;
  width: 85%;
    max-width:850px;
   margin:0 auto;
align-top:10px;
}

.imagen{
width:350px;
height:250px;
 align-margin:right;
;
}
.video{
width:350px;
height:250px;

}


main{

   width: 85%;
       max-width:850px;
      margin:0 auto;
    padding: 20px 80px;
    box-sizing: border-box;
}


h1 {

display: flex;
        background-color: hwb(0 93% 4% / 0.036);
        color:rgb(196, 39, 39);
        text-align: right;
        height: 70px;

        /*
            Fijamos la cabecera en el tope de la página  list-style: none;
             position: fixed;
        */

        width:50%;
        top:0%;
        left:60%;
        justify-content:right;
        align-items: right;
}
 h2{
  text-align:right;
    width:50%;

     right:0;
            align-items: right;
}
/*
#youtube iframe{
   display:flex;

 width:40%;
 height:40%;
 top:40%;
margin-left: 35%;
   margin-right: 45%;
 }
 main{
     width: 85%;
       max-width:850px;
      margin:0 auto;
 }
 */
 .irahome{
   display: flex;
   list-style: none;
   text-decoration: none;
   margin-top:13%;
  margin-right: 20%;
   margin-left:45%;
 }
.activo{
display: flex;
   list-style: none;
   text-decoration: none;
   margin-top:13%;
  margin-right: 20%;
   margin-left:45%;
}
/* Header y logo */

/*
aside {
   display: flex;
    width: 20%;
    position: fixed;
    top: 20px;
    right: 0px;
    left: auto;
    max-height: 2em;
    z-index: 1;
}
*/
 footer{
   background-color: navy;
   width: 100%;
   margin-top: 100%;
   text-align: center;
   padding: 13px  120px;
}

footer small{
   color: white;
   box-shadow: 2px 2px 10px rgb(109, 57, 57);

}
